<h1>商品登録</h1>
<%= form_with model: @item, local: true do |f|%>
<h3>画像</h3>
<%= f.file_field :image, name: 'image' %>
<h3>名前</h3>
<%= f.text_area :name %>
<h3>説明文</h3>
<%= f.text_area :explanation %>
<h3>カテゴリー</h3>
<%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
<h3>価格</h3>
<%= f.text_field :price %>
<% end %>